#root {
  margin: 0 auto;
  padding: 1rem;
  background-color: antiquewhite;
  padding-left: 10%;
  padding-right: 10%;
}

body {
  padding-left: 10%;
  padding-right: 10%;
}

.read-the-docs {
  color: #888;
}

button {
  font-size: normal;
}
