h1 {
  text-align: center;
}

div.flex-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: x-large;
  align-items: center;
  flex-grow: 2;
}

div.button-flex-area {
  display: flex;
  justify-content: start;
  gap: 12px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: x-large;
  align-items: center;
  flex-grow: 2;
}

div.flex-container > button {
  font-size: normal;
}

div.flex-container > div > input {
  padding: 12px 20px;
  border-radius: 4px;
  margin: 8px 0;
  border: 1px solid #ccc;
  width: 80%;
}

div.flex-container > div > textarea {
  padding: 12px 20px;
  border-radius: 4px;
  margin: 8px 0;
  border: 1px solid #ccc;
  width: 80%;
  height: 150%;
  font-size: larger;
}

div.flex-container > div {
  width: 100%;
}

section {
  background-color: #fffbf2;
  padding: 20px;
  border-radius: 10px;
}

section > div {
  width: 100%;
}

button {
  border-width: 5px;
  font-size: normal;
}

input {
  font-size: x-large;
}

button.plusButton {
  padding: 5px;
  font-size: 35px;
}

div.left-container {
  padding-left: 5px;
}
